==
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{ this.page.title }} | {{ this.theme.config.name }}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="title" content="{{ this.page.meta_title }}">
        <meta name="description" content="{{ this.page.meta_description }}">
        <link rel="icon" type="image/png" href="{{ 'assets/public/images/october.png'|theme }}">
        <link rel="stylesheet" href="{{ mix('/public/css/theme.css') }}"
        >
        <!-- fonts -->
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@300&display=swap" rel="stylesheet">
        {% styles %}

        <script type="text/javascript" src="{{ mix('/public/js/manifest.js') }}"></script>
        <script type="text/javascript" src="{{ mix('/public/js/vendor.js') }}"></script>
    </head>
    <body class="theme-{{ this.theme.id }}">
        
        <main class="main-content">
            {% partial 'nav' %}
            {% page %}
            {% partial 'footer' %}
            
        </main>
        
        <script type="text/javascript" src="{{ mix('/public/js/theme.js') }}"></script>
        {% scripts %}
        {% framework %}
    </body>
</html>
